body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  ul,
  li {
    display: inline-block;
  }
  #logo {
    border-radius: 20px;
  }
  .nav-item {
    font-size: 1.5rem;
  }
  .task-create {
    display: inline-block;
    width: 100%;
  }
  .user-label {
    display: inline-block;
    padding: 10px 10px;
    font-size: 2rem;
  }
  .create-task {
    margin-right: 0px;
    float: right;
    padding: 10px;
  }
  .taskbtn {
    display: inline-block;
  }
  .custom-control {
    background-color: grey;
  }
  .left {
    display: flex;
  }
  input[type="checkbox"] {
    width: 30px;
    height: 25px;
    margin-top: 5px;
  }
  .contents {
    width: 100%;
  }
  .right-col {
    margin-right: 0;
    display: flex;
    justify-content: center;
  }
  .task-name {
    font-size: 1.3rem;
  }
  .item {
    justify-items: right;
    margin-right: 10px;
  }
  .item img {
    margin-top: -10px;
    border: 2px solid rgb(41, 211, 83);
  }
  .right {
    display: flex;
    padding: 10px;
  }
  .item-container-1 {
    border: 1px solid grey;
    margin-top: 2rem;
    padding: 25px;
  }
  .item-container-2 {
    border: 1px solid grey;
    padding: 25px;
  }
  /** footer */
  .footer-panel {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: black;
    bottom: 0;
    padding: 20px;
    font-size: 2rem;
    position: fixed;
  }
  .view:active {
    border: 2px solid red;
  }
 