body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  ul,
  li {
    display: inline-block;
  }
  #logo {
    border-radius: 20px;
  }
  .nav-item {
    font-size: 1rem;
      }
 
  #task {
      color: white;
  }
  #Footer {
    color: white;
  }
 
 
 
  
  
  
  
  
  
  